.panel {
	background-color: #ffffff;
	border-top: 3px solid #83AA90;
	width: 286.56px;
	width: 17.91rem;
	padding: 20px;
	margin-bottom: 30px;
	margin-right: 30px;
	overflow: hidden;
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	img {
		float:left;
		margin-right: 20px;
	}
	p {
		float: left;
	}
}
.panel--full-width {
	@extend .panel;
	width: 100%;
	float: none;
	margin-right: 0;
	p {
		width: 80%;
	}
}
.panel--half-width {
	@extend .panel;
	width: 48.3%;
	p {
		width: 55%;
	}
}
.panel--full-width-header {
	@extend .panel--full-width;
	border-top: 0;
	background-color: $header-color;
	color: $header-text-color;
	strong {
		font-family: "robotobold";
	}
}
.panel--full-width-header__heading {
	float: left;
	width: 100%;
	margin: 10px 0;
	text-transform: uppercase;
	border-left: 6px solid red;
	padding-left: 10px;
}