# Extracted from https://github.com/ulrich/macaron-factory/blob/master/.gitignore
# Ignore all dotfiles...
.*
# except for .gitignore and .ruby-version
!.gitignore
!.ruby-version

# Ignore bundler config
/.bundle

# Ignore .DS_store file
.DS_Store

# Ignore the build directory
/build
/tmp

# Ignore Sass' cache
/.sass-cache

.htaccess

wp-content/themes/modernist/node_modules
wp-content/themes/modernist/dist
wp-content/themes/modernist/css/
