
$de-york: #8BC081;
$bay-leaf: #83AA90;
$white: #ffffff;
$whiskey: #ce9a72;
$scorpion: #606060;

// input border colour
$input-border: #e2e2e2;

//input background colour
$input-bg-colour: #f9f9f9;


$link-color: $bay-leaf;
$link-hover-color: $bay-leaf;
$menu-links-color: $bay-leaf;





$header-color: $de-york;
$header-text-color: $white;

